body {
    background-color: white;
}

header,
footer {
    display: none;
}

.sidebar {
    display: none;
}

img {
    max-width: 200px;
}

@media print {
    body {
        margin: 20px;
    }

    main {
        margin: 0;
    }

    nav,
    aside {
        display: none;
    }

    footer {
        display: block;
    }
}